<form [formGroup]="regForm"  #refNgForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">FirstName</label>
        <input type="text" formControlName="firstName" id="firstName">
        <div *ngIf="regForm.controls.firstName.errors?.['required']">
            Name is required.
          </div>
    </div>  
    <div>
        <label for="email">Email</label>
        <input type="text" formControlName="email" id="email">
    </div>   
    <p>Form Status: {{ regForm.status }} </p>
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!regForm.valid">Submit</button>
</form>
